/*
 * customizing stuff

/* Matt Crump */

h1.title {
    font-size: 20pt;
}

p {
    line-height: 1.5;
}

p.caption {
    line-height: 1.5;
    font-size:11;
    font-style: italic;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 16pt;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 13pt;
}